
*.xml
*.json
*.iml
*.db
*.pyc
*.csh
*.fish
*.ps1
*.8
*.cfg
venv/bin/activate
venv/bin/dotenv
venv/bin/easy_install
venv/bin/email_validator
venv/bin/httpx
venv/bin/pip
venv/bin/pip3
venv/bin/python
venv/bin/python3
venv/bin/tqdm
venv/bin/uvicorn
venv/bin/watchfiles
venv/bin/f2py3
venv/bin/f2py
venv/
